body,ul,li,ol,input,form,h1,h2,h3,h4,h5{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
img{
	border: 0;
}
 $width: 600px;
.beijing{
	width: 900px;
	height:610px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	background: #182909;
	.beijing1{
		width: 450px;
		height: 100px;
		position: absolute;
		left: 0;
		top:0;
		right:0;
		bottom: 0;
		margin: auto;
		
		span{
			display: block;
			float: left;
			width: 110px;
			font-size: 80px;
			 color: #fff;
            padding: 0 20px;
            text-align: center;
            font-weight: bold;
		}
		
	}
	
  & img:hover{
 transition:all.8s ease; 
 transform:scale(1.2,1.2)
   }

 .start{
	width:150px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	height:40px; 
	position: absolute;
	bottom:200px;
	left: 50%;
	margin-left:-75px;
    background: #63b814;
	/* background: url(img/3.jpg);
	background-position: -28px -16px; */
    border-radius: 5px;
    cursor: pointer;
    &:hover{
    	background:#000;
    }
}
.xuanka{
	width:100%;
	height:100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top:0;
	margin:auto;
	
	background: #182909;
   
    transform:translateY(100%); 
    ul{
    	width: 150px;
    height: 100%;
    position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top:0;
	margin:auto;
	text-align: center;
	line-height: 40px;
	li{
	  width: 200px;
	  height: 80px;
	  background: #63b814;
	  margin-top:30px; 
      text-align: center;
	 line-height:80px;
	 border-radius: 5px;
	 font-size: 18px;
	 color: #fff;
	
	 cursor: pointer;
	 transition: transform.8s ease;
    transform:translateX(500%); 
	}
	
	li.xuanka2:hover{
		background: #000;
		font-weight: bold;
	}
	li:nth-child(1).xuanka2{
		
		transform:translateX(0%);
		transition-delay:.8s;
	}
	li:nth-child(2).xuanka2{
		transform:translateX(0%);
		transition-delay:1.2s;
	}
	li:nth-child(3).xuanka2{
		transform:translateX(0%);
		transition-delay:1.6s;
	}
	li:nth-child(4).xuanka2{
		transform:translateX(0%);
		transition-delay:2s;
	}
	li:nth-child(5).xuanka2{
		transform:translateX(0%);
		transition-delay:2.4s;
	}
	li:nth-child(6).xuanka2{
		transform:translateX(0%);
		transition-delay:2.8s;
	}

	
    }
}

.start:hover{
    border: 1px solid #63b814;
}
.qipang{
	width:$width;
	height:$width;
	background: url(../img/4.jpg);
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	/* border: 10px solid #efa45d; */
	box-shadow: 2px 1px 2px #000;
	
    transform:translateY(-100%);
	opacity: 0;
	z-index: 100;
}

}
.beijing .beijing1 span:nth-child(1){
 	
 	
 	 transition:all .8s ease;
	animation:pao 2s linear infinite;
 } 
 .beijing .beijing1 span:nth-child(2){
 	
 	
 	 transition:all .8s ease;
	animation:pao 2s linear infinite;
 } 
 .beijing .beijing1 span:nth-child(3){
 	
 	
 	 transition:all .8s ease;
	animation:pao 2s linear infinite;
 } 
 @keyframes pao{
		0%{
			transform:rotateY(0) translate3d(0,-5px,0) scale(1.2,1.2);

		}
		50%{
			transform:rotateY(90deg) translate3d(0,0,0);	
		}

	}
.qipang.qipang1{
	transition:all.8s ease;
	transform:translateY(0);
	opacity: 1;
}
.xuanka.xuanka1{
	 transition:all.8s ease;
	 transform: rotateZ(3600deg) translateY(0); 
}
	.bai{
		position: absolute;
		color:white;
		background: url(../img/bai.png)center center;
		top:180px;
		left:-100px;
		opacity: 0;
	}
	.hei{
		position: absolute;
		top: 180px;
		left: 660px;
		background: url(../img/hei.png) center center;
		opacity: 0;
	}
	.heng{
		position: absolute;
		left: $width/30;
        width: $width - $width/15;
        height: 1px;
        background: #000;
        animation:fei 0.4s ease forwards;
        
	}
	.shu{
        position: absolute;
        top: $width/30;
        width: 1px;
        height: $width - $width/15;
        background: #000;
        animation:feiru 0.4s ease ;
         
	}
	.qizi{
	    position:absolute;
		z-index: 1000;

		width: $width/15-10;
		height: $width/15-10;
		border-radius: 50%;
		margin: 5px;
		/*  background: red;  */
	}
  /*  span{
  		width: $width/80;
  		height:$width/80;
  		background: #000;
  		position: absolute;
  		display: block;
  		border-radius: 50%;
  		opacity: 0;
  		transform:translate3d(-50%,-50%,0);
  		&:nth-of-type(1){
  			top:3.5*$width/15;
  			left:3.5*$width/15;
  			animation-delay:0.1s;
  		}
  		&:nth-of-type(2){
  			top:3.5*$width/15;
  			left:11.5*$width/15;
  			animation-delay:0.2s;
  		}
  		&:nth-of-type(3){
  			top:7.5*$width/15;
  			left:7.5*$width/15;
  			animation-delay:0.3s;
  
  		}
  		&:nth-of-type(4){
  			top:11.5*$width/15;
  			left:3.5*$width/15;
  			animation-delay:0.4s;
  
  		}
  		&:nth-of-type(5){
  			top:11.5*$width/15;
  			left:11.5*$width/15;
  			animation-delay:0.5s;
  
  		}
  		animation:fei 0.8s ease;
  	}
  }
   */
@keyframes diaoluo{
	0%{
		transform:translate3d(0,-1000px,0);
		opacity: 0;
	}
	100%{
		transform:translate3d(-50%,-50%,0);
		opacity: 1;
	}
}
@keyframes fei{
	0%{
		transform:translate3d(0,-1000px,0);
		/*opacity: 0;*/
	}
	100%{
		transform:translate3d(0,0,0);
		/*opacity: 1;*/
	}
}
@keyframes feiru{
	0%{
		transform:translateX(-1000px);
		opacity: 0;
	}
	100%{
		transform:translateX(0);
		opacity: 1;
	}
}
@for $i from 0 through 14{
	.heng:nth-of-type(#{$i+1}){
		top:$i*$width/15 + $width/30;
		animation-delay:$i*0.03s;
	}
	.shu:nth-of-type(#{$i+1}){
		left: $i*$width/15 + $width/30;
		animation-delay:$i*0.03s;
	}
}
.left{
	width: 150px;
	height: 610px;
	position: absolute;
	top:0;
	left: 0;
	background: #182909;
	
    transform:translateY(-100%);
	ul{
		width: 100%;
		height: 100%;
	}
}
.left.left1{
transition:all.8s ease;
 transform:translateY(0);
}
.right{
	width: 150px;
	height: 610px;
	position: absolute;
	top:0;
	right: 0;
	
    transform:translateY(-100%);
	background: #182909;
	ul{
		width: 100%;
		height: 100%;
	}
}
.right.right1{
	transition:all.8s ease;
 transform:translateY(0);
	
}
.left ul .tou{
	width: 100%;
	height: 30%;
	img{
		width: 100%;
		height: 100%;
	}

}
.right ul .tou{
	width: 100%;
	height: 30%;
	img{
		width: 100%;
		height: 100%;
	}
}
.left ul .qihe{
	width: 100%;
	height: 30%;
	background: url(../img/9.jpg);
	background-position: -17px -10px;
	
}
.right ul .qihe{
	width: 100%;
	height: 30%;
	background: url(../img/9.jpg);
	background-position: -160px -10px;
	
}
.tutu{
	position: absolute;
	top:0;
	right:10px;
	width: 150px;
	height: 100%;

	
    transform:translateY(300%); 
}
.tutu.tutu1{
	 transition:all.8s ease;
	transform:translateY(0); 
}
.tutu img{
	width: 100%;
	height: 20%;
	margin-top:10px; 
	
}
p{
	width: 100px;
	height: 40px;
	background: #63b814;
	margin-top:10px; 
	margin: 10px auto;
	text-align: center;
	line-height: 40px;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}
.tishi{
	position: absolute;
	top:100px;
	left:150px;
	width: 300px;
	height: 200px;
    border: 1px solid #ff6600;
	 box-shadow: 0px 4px 10px #482915;
	border-radius: 10px;
	background: white;
	 display: none; 
	z-index: 10000;
	opacity: 0;
	/*transform: translateY(-100%);*/
	/*transition:all 0.8s ease;*/
	.tupian{
		width: 100px;
		height: 60px;
		margin: 0 auto;
		background: blue;
		margin-top: 20px;

	}
	h6{
color:black;
font-size: 14px;
text-align: center;
margin-top: 20px;


	}
	.button{
		width: 100px;
		height: 40px;
		margin: 0 auto;
		color:#000;
		font-size: 18px;
		margin-top: 10px;
		border: 1px solid #ff6600;
		text-align: center;
		line-height: 40px;
		border-radius: 10px;
		cursor: pointer;

	}


}
.time{
	width: 100px;
	height: 40px;
	background: #63b814;
	border-radius: 5px;
	cursor: pointer;
	margin: 20px auto;
	line-height: 40px;
	color: #fff;
	
}
.fanhui{
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	margin: 20px auto;
	background: #63b814;
	border-radius: 5px;
	cursor: pointer;

}